<div class="content">

    <h2>Meet the Team Behind Pluggy</h2>

    <div class="large-text space-bottom space-top">
        
        <p>We have more than 170 employees, last time we checked.  Below are many of them who wanted to share with you why they decided to work at OPOWER.</p>

        <h6 class="strong">&ldquo;I work at OPOWER because&hellip;</h6>
    </div>
    
    <div class="the-team">
    <%
        data.team.sort(function(a, b) {
            var first_name_compare = a.first_name.localeCompare(b.first_name);
            if (first_name_compare == 0) {
                return (a.last_name.localeCompare(b.last_name));
            }
            return first_name_compare;
        });
        for (var i = 0; i < data.team.length; i++) {
            var member = data.team[i];
    %>
        <div class="team-member">
          <img class="photo" width="100" height="100" src="/photos/meet-the-team/<%= member.img_1 %>" <% if (member.img_2) { %>swap="/photos/meet-the-team/<%= member.img_2 %>"<% } %>>
          <div class="name"><%= member.first_name %></div>
          <div class="reason">
              <div class="reason-text"><%= member.reason %>
              <div class="byline"><%= member.first_name %> <%= member.last_name %></div>
              <div class="byline"><%= member.dept %><%= (member.dept && member.location) ? ', ' : '' %><%= member.location %></div>
            </div>
          </div>
        </div>
    <%
        }
    %>
    </div>
</div>
